@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');
body, html {
    height: calc(100% - 2em);
    margin: 0;
    font-family: 'Montserrat';
}

body {
    background: rgb(219,0,255);
    background: linear-gradient(23deg, rgba(219,0,255,1) 0%, rgba(32,250,160,1) 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#wrapper{
    display: grid;
    margin: 40px;
    padding:1em;
    background:#fff;
}

aside{
    display:grid;
    grid-template-columns:auto 40px ;
    padding:1em
}

figure{
    margin: 0;
}

ul{
    display: none;
    list-style-type: none;
    margin: 0;
    padding:0;
    padding-top: 2em;
}

figcaption{
    color:#fff;
    font-size:1.3em;
    font-weight:bold;
}

#pricewrapper{
    display:grid;
    grid-template-columns:200px auto;
}

img{
    cursor: pointer;
    width:40px;

}

.cta {
    display: block;
    color: #fff;
    background: #9256DC;
    padding:25px 50px;
    text-align: center;
    font-size:1em;
    font-weight: bold;
    border-radius:4px;
    margin: 0.4em 0.2em;
    text-decoration:none;
}

.active {
    position: absolute;
    display: block;
    background: #fff;
    width: 50%;
    left: 0;
    top:0;
    height:100%;
}

ul li a{
    text-decoration: none;
    text-transform:uppercase;
    font-size:.9em;
    display: block;
    padding:1.5em 3em;
    background-color:rgba(221, 221, 221, 0.35);;
    color: black;
}

ul li a:hover{
    background:white;
}
